* {
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: sans-serif;
}

.nbar {
    width: 100%;
    min-height: 100px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    color: black;
    background-color: rgba(248, 250, 250, 0.642);
    z-index: 1;
}

.im {
    flex: 1;
}
.im img{
    margin: 20px;
    margin-left: 100px;
}

.list1 {
    flex: 2;
}

.list li {
    float: left;
    font-size: 20px;
    list-style: none;
    margin: 24px 0px;
    padding: 4px 20px;
    position: relative;
}

.list li:hover {
    color: red;
    /* border-bottom: 1px solid blue; */
    transition: 0.3s ease;
}

.menu {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.menu {
    display: none;
    user-select: none;
}

.collection {
    position: relative;
}

.coll {
    background-color:rgba(0, 0, 0, 0.46);
    padding: 2em 0;
    position: absolute;
    width: 700px;
    height: min-content;
    display: none;
    border: 1px solid black;
    border-radius: 8px;
    /* top: 83px; */
    /* left: -300px; */
}

/* .coli li+li {
    margin-top: 10px;
} */

.coll li {
    width: 6em;
    color: rgb(247, 241, 241);
    display: inline;
}
.collection li{
    font-size: 20px;
    text-align: center;
}
.collection span{
    font-size: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;

}

/* 
.coll li:hover {
    background-color: #f75312;
} */

.collection:hover .coll {
    display: block;
}

.page{
    position: relative;
}
.page1{
    background-color:transparent;
    /* padding: 3px 0; */
    position: absolute;
    width: 400px;
    height: min-content;
    /* border: 1px solid black; */
    border-radius: 8px;
    top: 63px;
    right:-180px; 
    display: none; 
    
    

}
.page1 li a{
    color: rgb(10, 10, 10);
}

.page li {
    /* width: 3em; */
    margin-top:-25px ;
    color: rgb(9, 9, 9);
    display: inline;
}
.page:hover .page1 {
    display: block;
}
a{
    color:black;
    text-decoration: none;
}

@media all and (max-width:750px) {
    .list {
        position: relative;
        width: 100%;
        color: black;
        background-color: none;
        top: 0;
        right: 0;
        font-size: 30px;
        padding: 16px 0;
        display: none;

    }

    .list li {

        margin: 5px;

    }

    .menu {
        padding: 10px;
        font-size: 40px;
        text-align: end;
        display: block;
    }

    input[type=checkbox]:checked~.list {
        display: inline-block;
    }

    /* .foo button{
        position: absolute;
        left: 300px;
    } */


}

.list li::before,
.list li::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    transition:0.9s all ease-in-out;
}
.list li::before{
    top: 0;
    left: 0;
}
ul li::after{
    bottom: 0;
    right: 0;
} 
.list li:hover:before{
    right:0;
    left: auto;
    width: 100%;
    background-color: orangered;
}
.list li:hover::after{
    right:auto;
    left: 0;
    width: 100%;
    background-color: orangered;
} 
.list li a:hover{
    color: orangered;
}
.ser{
    position: relative;
}

.sr{
    background-color:transparent;
    /* padding: 3px 0; */
    position: absolute;
    width: 400px;
    height: min-content;
    /* border: 1px solid black; */
    border-radius: 8px;
    top: 63px;
    right:-180px; 
    display: none; 
}
.sr li a{
    color: rgb(10, 10, 10);
}

.sr li {
    /* width: 3em; */
    margin-top:-25px ;
    color: rgb(9, 9, 9);
    display: inline;
}

.ser:hover .sr {
    display: block;
}
.sr input{
    border-radius:5px;
    padding: 3px;
    text-align: center;
    color: blue;

}
.sr input::placeholder{
    color: gray;
    letter-spacing: 1px;
}
.sr button{
    width: 60px;
    padding: 2px;
    border-radius: 10px;
}
/*  */

.sr li::before,
.sr li::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    transition:0.9s all ease-in-out;
}
.sr li::before{
    top: 0;
    left: 0;
}
ul li::after{
    bottom: 0;
    right: 0;
} 
.sr li:hover:before{
    right:0;
    left: auto;
    width: 100%;
    background-color: none;
}
.sr li:hover::after{
    right:auto;
    left: 0;
    width: 100%;
    background-color: none;
} 
.sr li a:hover{
    color: orangered;
}
.sr li::before,
.sr li::after{
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    transition:0.9s all ease-in-out;
}
.sr li::before{
    top: 0;
    left: 0;
}
ul li::after{
    bottom: 0;
    right: 0;
} 
.sr li:hover:before{
    right:0;
    left: auto;
    width: 100%;
    background-color: transparent;
}
.sr li:hover::after{
    right:auto;
    left: 0;
    width: 100%;
    background-color: transparent;
} 
.sr li a:hover{
    color: orangered;
}
